name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # 确保你的主分支名称是 main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install
        run: npm install

      - name: Build
        run: npm run build
        env:
          # 将 GitHub Secrets 里的 API_KEY 注入到环境变量中
          API_KEY: ${{ secrets.API_KEY }} 

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
